@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background: white;
  color: #fff;
  line-height: 1.8;
}

.parrafoLogin {
  margin-bottom: 40px;
}

#imagen {
  display: block;
}

a {
  text-decoration: none;
}

.form-wrap {
  margin: 2rem 0  2rem 0;
  background: #ededed;
  padding: 15px 25px 30px;
  color: #333;
  border-radius: 5px;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-wrap .form-group {
  margin-top: 15px;
}

.form-wrap .form-group label {
  color: #000000;
  font-weight: normal;
}

.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  caret-color: #ffd819;
  border: solid 2px #ffd819;
}

.form-wrap .form-group input:focus {
  outline-color: #ffd819;
}

.form-wrap .btn {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  background: #ffd819;
  color: #fff;
  cursor: pointer;
  border: #ffd819 1px solid;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}

.form-wrap .btn:hover {
  background: #fe46c5;
  color: #f4f4f4;
  border: #fe46c5 1px solid;
}

.form-wrap .btn:focus {
  outline-color: #fe46c5;
  border: #fe46c5 1px solid;
}

.form-wrap .bottom-text {
  line-height: 1.4;
  margin-top: 15px;
}

.form-wrap .bottom-text a:hover {
  text-decoration: underline;
}

.parrafoLogin {
  text-align: center;
  margin-top: 15px;
}

footer a {
  color: #000000;
}

footer a:hover {
  color: #fe46c5;
}

.btn:disabled {
  background-color: navajowhite;
}

input[type="radio"] {
  display: none;
}

.sexo {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sexo .hombre {
  border-radius: 3px 0 0 3px;
  color: black !important;
}
.sexo .mujer {
  border-radius: 0 3px 3px 0;
  color: black !important;
}

.label-radio {
  background: #ffd819;
  color: #000000;
  padding: 10px;
  text-align: center;
  width: 49.5%;
}

input[type="radio"]:checked + .label-radio {
  background: #d9bb11;
  color: #000000 !important;
}

a {
  color: #fe46c5;
}

.anchorCustom {
  color: #fe46c5;
}
